<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kosa.todoup.mapper.TodoMapper">


    <!-- 할일 생성 -->
    <insert id="insertTodo" parameterType="com.kosa.todoup.dto.TodoDTO" useGeneratedKeys="true" keyProperty="todo_id" keyColumn="todo_id">
        insert into TODO_LIST (USER_ID, TITLE, CATEGORY, START_DATE, END_DATE
        <if test="memo != null">
            , MEMO
        </if>)
        values (#{user_id}, #{title}, #{category}, #{start_date}, #{end_date}
        <if test="memo != null">
            , #{memo}
        </if>)
    </insert>

    <!-- 할일 목록 날짜별 조회 (특정 날짜가 startDate와 endDate 사이에 있는 할일) -->
    <select id="selectTodosByDate" parameterType="java.util.Map" resultType="com.kosa.todoup.dto.TodoDTO">
    <![CDATA[
        SELECT TODO_ID, USER_ID, TITLE, MEMO, COMPLETED, CATEGORY, START_DATE, END_DATE
        FROM TODO_LIST
        WHERE TO_CHAR(START_DATE, 'YYYY-MM-DD') <= #{date}
          AND TO_CHAR(END_DATE, 'YYYY-MM-DD') >= #{date}
          AND USER_ID = #{userId}

        ]]>
    </select>

    <!-- 할일 목록 월별 조회 -->
    <select id="selectTodosByMonth" parameterType="java.util.Map" resultType="com.kosa.todoup.dto.TodoDTO">
    <![CDATA[
        SELECT TODO_ID, USER_ID, TITLE, MEMO, COMPLETED, CATEGORY, START_DATE, END_DATE
        FROM TODO_LIST
        WHERE TO_CHAR(START_DATE, 'YYYY-MM') <= #{date}
          AND TO_CHAR(END_DATE, 'YYYY-MM') >= #{date}
          AND USER_ID = #{userId}
        ]]>
    </select>

    <!-- 할일 완료 상태 업데이트 -->
    <update id="toggleTodoCompletion" parameterType="map">
        UPDATE TODO_LIST
        SET COMPLETED = #{completed}
        WHERE TODO_ID = #{todoId}
    </update>

    <!-- 투두 항목 삭제 -->
    <delete id="deleteTodoById" parameterType="map">
        DELETE FROM TODO_LIST WHERE TODO_ID = #{todoId} AND USER_ID = #{userId}
    </delete>
</mapper>
