<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kosa.todoup.mapper.UserMapper">
    <insert id="insertUser" parameterType="com.kosa.todoup.dto.SignUpUserDto" useGeneratedKeys="true" keyProperty="userId" keyColumn="user_id">
        insert into users(email,nickname,password)
        values (#{email}, #{nickName}, #{password})
    </insert>

    <select id="findUser" parameterType="com.kosa.todoup.dto.UserDTO">
        select
            user_id as userId,
            email,
            nickname as nickName,
            avatar_type as avatarType,
            password,
            lv,
            points,
            created_at as createdAt
        from users
        where user_id > 0
        <if test='email != null'>
            <if test='password != null'>
                and email=#{email} and password=#{password}
            </if>
            <if test='password == null'>
                and email=#{email}
            </if>
        </if>
        <if test='nickName != null'>
            and nickname = #{nickName}
        </if>
    </select>

    <!-- 포인트 업데이트 -->
    <update id="updateUserPoints">
        UPDATE Users
        SET points = points + #{points}
        WHERE user_id = #{userId}
    </update>

    <!-- 레벨 업데이트 -->
    <update id="updateUserLevel">
    <![CDATA[
    UPDATE Users
    SET
        lv = CASE
             WHEN points >= 1000 THEN lv + 1
             WHEN points < 0 AND lv > 0 THEN lv - 1
             ELSE lv
        END,
        points = CASE
             WHEN points >= 1000 THEN points - 1000
             WHEN points < 0 AND lv > 0 THEN points + 1000
             ELSE points
        END
    WHERE user_id = #{userId}
    ]]>
</update>

</mapper>